/Pilha/build/
/Pilha-LE/nbproject/private/
/Pilha-LE/build/
/Fila/nbproject/private/
/Fila/build/
/Fila-LE/nbproject/private/
/Fila-LE/build/
/Sequencia/nbproject/private/
/Sequencia/build/
/Arvores/nbproject/private/
/Arvore/build/